#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #486A6E;
}

#sidebar-pic {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

a:hover #sidebar-pic {
  opacity: 0.5;
}

.list-vertical {
  font-size: 40px;
  list-style: none;
  color:
}

.sidebar-button-style {
  color: #0F283B;
}

a:hover .sidebar-button-style {
  color:#C0BCB5;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  margin: 20px;
}

.card h3 {
  margin: 10px 10px 10px 10px;
  text-align: center;
}

body {
  background-color: #C0BCB5;
  color:#0F283B;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #AD1F41;
  font-size: 23px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 15px;
  font-weight: 300;
  margin: 10px;
}


#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.img-size {
  width: 220px;
  /*height: 326px;*/
  margin: 5px;
  border-radius: 5px;
}


.list-inline li {
  display: inline-block;
  margin: 30px;
  list-style: none;
  font-size: 25px;
}

.list-inline {
  padding: 0px;
}

.icon-colour {
  color: rgb(150,150,150);
}

a:hover .icon-colour {
  color: #486A6E;
}


@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 90%;
  }

  .img-size {
    width: 80px;
  }

  #sidebar {
    display: none;
  }
}


